.palettes-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 65px;
}

.grid-col{
    width: 180px;
    padding: 10px;
    margin: 20px
}