.hero-body {
    width: 34vw;
    height: 100vh;
}

@media (max-width: 688px){
    .hero-body {
        height: 34vh;
    }
}

.button {
    position: fixed;
    right: 1em;
    top: 1em;
    box-shadow: 2px 2px 5px #696969cc ;
}
