
.hero-body {
    width: 34vw;
    height: 96vh;
}

@media (max-width: 768px){
    .hero-body {
        width: 100vw;
        height: 32vh;
    }
}
.column-3{
    width: 34vw;
    height: 96vh;
}
@media (max-width: 768px){
    .column-3{
        width: 100vw;
        height: 32vh;
    }
}

.column-5{
    width: 20vw;
    height: 96vh;
}
@media (max-width: 768px){
    .column-5{
        width: 100vw;
        height: 20vh;
    }
}

.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16em;
}
.subtitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
}

.sombreado{
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.sombreado:hover{
    transition: 0.5s;
    box-shadow: 1px 1px 5px 0 rgba(233, 26, 71, 0.6)
}

.preview{
    margin: 1em;
    padding-left: 0em;
    padding-right: 0em;
}

@media (max-width: 688px){
    .preview-selector{
        margin-left: 5em;
        margin-right: 5em;
    }
}

button{
    border: rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
}

button img{
    border-radius: 20px;
}