body{
    width: 100% !important;
    background-color: #f9f9f9;
}
.navbar {
    height: 50px;
}

.buttons{
    margin-right: 1rem;
}
@media (max-width: 1024px){
    .navbar {
        display: flex !important;
        flex-direction: row !important;
    }
    .navbar-brand{
        width: calc(100% - 60px);
        justify-content: flex-start !important;
    }
    .buttons{
        width: 3%;
        justify-content: flex-end !important;   
    }
}
@media (max-width: 690px){
    .navbar {
        display: flex !important;
        flex-direction: row !important;
    }
    .navbar-brand{
        width: calc(100% - 60px);
        justify-content: flex-start !important;   
    }
    .buttons{
        width: 6%;
        justify-content: flex-end !important;   
    }
}